@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}


.container{
  @apply md:max-w-[1024px] max-w-[600px] px-4 md:px-0 m-auto 
}

.card-item-qty{
  @apply absolute text-[11px] top-0 right-[-5px] bg-red-500 w-[18px] h-[18px] rounded-3xl text-center text-white font-bold
}

.cart-icon{
  @apply relative text-[25px]
}

.hero-section{
  @apply w-full md:h-[450px] h-[200px] flex items-center
}

.hero-airpod{
  @apply absolute md:mt-[300px] mt-[150px]
}
.hero-container{
  @apply h-full md:max-w-[1000px] max-w-[600px] m-auto flex justify-center items-center relative md:px-0 px-4
}